body {
    background-color: rgb(122, 255, 126);
    font-family:Avenir;
   }

.container {
  padding: 30px;
}

.header {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    font-size:70%
    }

.center {
margin: auto;
width: 170px;
}

.button {
    background-color: rgb(208, 253, 210);
    border: 2px solid black;
    color: black;
    padding: 16px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 135%;
    margin: 4px 2px;
    width: 80px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

.button:hover {
  background-color: #4CAF50;
  color: white;
}

.form_button {
  background-color: rgb(208, 253, 210);
  border: 2px solid black;
  color: black;
  padding: 16px 44px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 135%;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.form_button:hover {
  background-color: #4CAF50;
  color: white;
}

.checkbox {
  list-style-type: none;
  padding-left: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid rgb(72, 196, 76);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(166, 247, 169);
}

.header_link {
  border: 2px solid black;
  color: black;
  padding: 16px 44px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 135%;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
