{% extends 'base.html' %}

{% block content %}
<div class="center">
  <div class="container W300px">
    <h3 class="header">FAQ</h3>
    
    <h6 class="header">Hvordan virker app'en?</h6>
    <p class="header">Godt forhåbentligt</p>

    <h6 class="header">Hvordan registrerer jeg en tur jeg har kørt?</h6>
    <p class="header">I app'en</p>

    <h6 class="header">Hvad gør jeg når jeg har tanket bilen?</h6>
    <p class="header">Stiger ind i den igen</p>

    <h6 class="header">Hvilke udgifter skal jeg registere?</h6>
    <p class="header">Kun dem som har noget med vores dele-KA at gøre</p>

    <h6 class="header">Hvorfor får jeg ikke flere emails fra K'App'en?</h6>
    <p class="header">Tryk på firkanten øverst i højre hjørne -> tryk på dit navn -> vælg de emails du gerne vil modtage.</p>
   
  </div>
</div>

<div class="center">
  <a href="{% url 'index' %}" class="sml-button">Tilbage</a>
</div>
<br>
{% endblock %}