{% extends 'base.html' %}

{% block content %}
<h1 class="header">
<a href="{% url 'show_all_transactions' %}" class="header_link">Oversigt</a>
</h1>

<h2 class="header">
    <a href="#" class="header_link">Kirsten</a>
</h2>
<p class="header">Saldo: {{kirsten_saldo}} kr.</p>
<p class="header">Kørt i alt: {{kirsten_km}} km.</p>

<h2 class="header">
    <a href="#" class="header_link">Marie</a>
</h2>
<p class="header">Saldo: {{marie_saldo}} kr.</p>
<p class="header">Kørt i alt: {{marie_km}} km.</p>

<h2 class="header">
    <a href="#" class="header_link">Kasper</a>
</h2>
<p class="header">Saldo: {{kasper_saldo}} kr.</p>
<p class="header">Kørt i alt: {{kasper_km}} km.</p>


{% endblock %}