{% extends 'base.html' %}

{% block content %}
<h1 class="header">Oversigt</h1>
<p class="header">følgende skylder:</p>

<h2 class="header">Kirsten</h2>
<p class="header">Saldo: {{kirsten_saldo}} kr.</p>
<p class="header">Antal km kørt: {{kirsten_km}}</p>

<h2 class="header">Marie</h2>
<p class="header">Saldo: {{marie_saldo}} kr.</p>
<p class="header">Antal km kørt: {{marie_km}}</p>

<h2 class="header">Kasper</h2>
<p class="header">Saldo: {{kasper_saldo}} kr.</p>
<p class="header">Antal km kørt: {{kasper_km}}</p>


{% endblock %}